# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=biomaxxx
POSTGRES_PORT=5432

# Backend API Configuration
PORT=5000
DATABASE_URL=postgres://postgres:password@postgres:5432/biomaxxx

# Frontend Port
FRONTEND_PORT=3000
